@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

.notification {
	position: fixed;
	right: 20px;
	top: 20px;
	width: 300px;
	height: 150px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	background-color: white;
}

.info-slides {
	margin: 5px;
	padding: 5px;
	width: 250px;
	border: 2px solid black;
}

.fa {
	color: silver;
}

.icon-close {
	padding: 7px;
	float: right;
}

.checkbox {
	position: absolute;
	bottom: 10px;
	left: 10px;
}

input, label {
	vertical-align: middle;
}

label {
	color: darkgrey;
}

.info-slides-nav {
	position: absolute;
	bottom: 10px;
	right: 15px;
}

.info-slides-nav a:not(.controls) {
	width: 8px;
    height: 8px;
    text-decoration: none;
    display: inline-block;
    border-radius: 50%;
    margin: 0 2px 2px 2px;
    background-color: silver;
}