@media (max-width: 320px) {     

    .container {
        max-width: 280px;
    }

    .person-info__img {
        max-width: 205px;
        height: 205px;
        padding-bottom: 32px;
    }

    .person-info__description h1 {
        .bold-font(32px, @color-black, 36px);
        max-width: 280px;
    }

    span {
        max-width: 280px;
        display: inline-block;
    }

/******************************************************************/

    .person-expectation {
        padding: 52px 0 67px 0;
    }   

    /******************************************************************/

    .person-works {
        padding: 172px 0;
    }
    
    .person-works_site {
        margin-top: 120px;
    }

    /******************************************************************/

    .person-works__slider {
        max-width: 280px;
        height: 150px;
        margin-top: 16px;
    }
    
    .person-works__slider > input + label {
        top: 166px;
        right: 132px;
    }
    
    .person-works__slider > div > img {
        width: 280px;
        height: 150px;
    }
    
    .person-works__slider > div > p {
        top: 190px;
    }

    /******************************************************************/

    .person-contacts {
        padding: 52px 0;
    }

    /******************************************************************/

    .person-contacts__form {
        margin-top: 20px;

        input, textarea, label {
            margin-bottom: 16px;
        }
        
        div {
            flex-direction: column;
            margin-bottom: 0;
    
            input {
                width: 280px;
                height: 36px;
            }
        }
    } 
}
